/bin
*.class

# eclipse project files
.project
.classpath
.settings/
.checkstyle

/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
Lab11-Code-Improvement.doc
Lab11-Code-Improvement.pdf